# From https://github.com/janus-idp/backstage-showcase/blob/main/.dockerignore
.yarn/cache
.yarn/install-state.gz
**/dist
**/node_modules
*.local.yaml
coverage
dist-types
examples
*.code-workspace
*.github
*.log
*.git